body{
    background-color: rgb(149, 167, 127);
}
.budget-form{
    border: 1px solid white;
    padding: 10px;
    color: white;
}
.expense-form{
    border: 1px solid white;  
    padding: 10px;
    color: white;
}

.toute{
    color: white;
}
.tous{
    color: white;
}
.titre{
    color: white;
    height: 50px;
    background-color: rgb(130, 150, 75);
  
    padding: 5px;
}

.bbg{
    background-color: rgb(149, 167, 127);
}